@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera (it does not work on linux)*/
}